@using WXB.Bussiness.ViewModels
@using System.Text
@model NoticeVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var notice = Model == null ? new NoticeVM() : Model;
    //var chooseUserWay = notice.ChooseUserWay.HasValue ? notice.ChooseUserWay.Value : 1;
    //var receivers = notice.NoticeReceiver == null || notice.NoticeReceiver.Count == 0 ? new List<ReceiverVM>() : notice.NoticeReceiver;
    var attachUrls = string.IsNullOrEmpty(notice.AttachmentUrl) ? new string[] { } : Server.UrlDecode(notice.AttachmentUrl).Split('|');
}
@section head{
    <link rel="stylesheet" href="~/Content/plugins/webuploader/webuploader.css" />
    <style type="text/css">
        .notice-view {
            width: 700px;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            font-size: 12px;
            background-color: #fff;
        }

        .common-text {
            display: inline-block;
            width: 600px;
            word-break: break-all;
        }

        .vertical-top{
            vertical-align:top;
        }
    </style>
}
<div class="notice-view notice">
    <div class="view-main">
        <div class="notice-title">
            <span class="vertical-top">通知标题</span>
            <div class="common-text">@(notice.Title)</div>
        </div>
        <div class="notice-content marginTop20">
            <span class="content-text">通知内容</span>
            <div class="common-text">@(notice.Content)</div>
        </div>

        <div class="notice-time marginTop20">
            <span>通知日期</span>
            <span>@(notice.UpdateTimeStr)</span>
        </div>
        <!--webuploader文件上传-->
        <div id="uploader" class="uploader-wrap marginTop20">
            <span>附件</span>
            <!--用来存放文件信息-->
            <div id="thelist" class="uploader-list" style="display:inline-block;">
                @if (attachUrls.Length > 0)
                {
                    foreach (var item in attachUrls)
                    {
                        string[] fileInfo = item.Split('>');
                        if (fileInfo.Length > 0)
                        {
                            <div class="item">
                                <a class="file-name" data-path="@(fileInfo[0])" data-name="@(fileInfo[1])" href="@(Url.Action("download", "home", new { filePath = fileInfo[0], fileName =fileInfo[1] }))" target="_self" style="display:inline-block;margin-right:10px;color:blue;">@(fileInfo[1])</a>
                            </div>
                        }
                    }
                }
            </div>
        </div>

        @*<div class="notice-user">
            <div class="user-way">
                <span class="way-text">指定方式</span>
                <span class="way-content">
                    @(chooseUserWay == 1 ? "角色" : "个人")
                </span>
            </div>
            <div class="user-list">
                <span class="list-text">指定人员</span>
                <div class="list-con">
                    <div class="user-prerole">
                        @if (receivers.Count > 0)
                        {
                            foreach (ReceiverVM item in receivers)
                            {
                                <span class="con-item" data-userid="@(item.ID)">@item.Name</span>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>*@

        @*<div class="feedback">
            <div class="feedback-user marginTop20">
                <span>反馈人</span>
                <span>@(notice.FeedBacker)</span>
            </div>
            <div class="feedback-time marginTop20">
                <span>反馈日期</span>
                <span>@(notice.FeedBackTime == null ? "" : notice.FeedBackTime.Value.ToString("yyyy-MM-dd"))</span>
            </div>
            <div class="feedback-content marginTop20">
                <span class="vertical-top">反馈内容</span>
                <div class="content-text common-text">
                    @(notice.FeedBack)
                </div>
            </div>
        </div>*@

    </div>
</div>

